<h1>Hot Weather Widget</h1>
<div class="element">
  <app-hotel-list [currentHotel]="currentHotel" [hotels]="hotels" (hotel)="setHotel($event)"></app-hotel-list>
  <div class="element-right">
      <app-hotel-weather [weather]="currentHotel.weather"></app-hotel-weather>
      <app-hotel-profile [profile]="currentHotel.profile"></app-hotel-profile>
  </div>
  <div class=clear></div>
</div>


<div class="copy-right">
    <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
