<app-header></app-header>
<div class="element">

  
  <div class="element-hd">
      <input type="text" placeholder="Search" (input)="search($event)">
      <button (click)="sortByStar()" title="Sort by star">&#8593;/&#8595;</button>
      
      <mat-button-toggle-group name="setStar" (change)="setStar($event)"  title="Set by star Hotel">
          <mat-button-toggle value="all">All</mat-button-toggle>
          <mat-button-toggle value="3">***</mat-button-toggle>
          <mat-button-toggle value="4">****</mat-button-toggle>
          <mat-button-toggle value="5">*****</mat-button-toggle>
      </mat-button-toggle-group>
  </div>
  <app-hotel-list 
    [currentHotel]="currentHotel" 
    [hotels]="hotels" 
    (hotel)="setHotel($event)" 
    [searchHotel]="searchHotel" 
    [sortByStarAbc]="sortByStarAbc"
    [setStarHotel]="setStarHotel"
    >
  </app-hotel-list>
  <div class="element-right">
      <app-hotel-weather [weather]="currentHotel.weather"></app-hotel-weather>
      <app-hotel-profile [profile]="currentHotel.profile"></app-hotel-profile>
  </div>
  <!-- <div class="element-right">
    <app-hotel-favorite [favorHotel]="hotel"></app-hotel-favorite>
  </div> -->
  <div class=clear></div>
</div>
<app-footer></app-footer>